<div class="row" style="margin-top: 10px;
    margin-bottom: 0px;">
  <div class="col s12 ">
    <div class="row" >
    <div class="col s6 m4">
      <div class="filter-header">
        Subject
        <div class="right clr-btn">clear</div>
      </div>
      <div class="divider filter-divider"></div>
      <div class="lang-list">
        <%for(var i = 0; i < lang.length; i++) {%>
          <div class="filter-opt">
            <input type="checkbox" class="filled-in" id="lang<%= i%>" />
            <label for="lang<%= i%>"><%= lang[i]%></label>
          </div>
        <%}%>
      </div>
  	</div>
    <div class="col s6 m4">
      <div class="filter-header">
        Complexity
        <div class="right clr-btn">clear</div>
      </div>
      <div class="divider filter-divider"></div>
      <%for(var i = 0; i < complex.length; i++) {%>
        <div class="filter-opt">
          <input type="checkbox" class="filled-in" id="complex<%= i%>" />
          <label for="complex<%= i%>"><%= complex[i]%></label>
        </div>
      <%}%>
  	</div>
    <div class="col s6 m4">
      <div class="filter-header">
        Type
        <div class="right clr-btn">clear</div>
      </div>
      <div class="divider filter-divider"></div>
      <%for(var i = 0; i < type.length; i++) {%>
        <div class="filter-opt">
          <input type="checkbox" class="filled-in" id="type<%= i%>" />
          <label for="type<%= i%>"><%= type[i]%></label>
        </div>
      <%}%>
  	</div>
  </div>
  </div>
</div>
<div class="row" id="tab<%= j%>">
  <% for(var j = 0; j < chall.length; j++) { %>
    <% for(var i = 0; i < chall.length; i++) { %>
      <div class="col s12 m6 l4">
        <div class="card sticky-action">
          <div class="card-image">
            <div class="bookmark bmrk">
              <a class="waves-effect" href="#"><i class="fa fa-star-o"></i></a>
            </div>
            <img src="../images/<%= imgs[i + j]%>">
            <span class="card-title">Card Title</span>
          </div>
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">Register</a>
            <a href="#">Participate</a>
          </div>
        </div>
      </div>
      <%} %>
    <%}%>
</div>
