<span style="display:none;" id="dummy-title"><%= title%></span>
<ul id="chall-tabs" class="tabs tabbed">
<% for(var j = 0; j < chall.length; j++) { %>
  <li class="tab col s3 "><a href="#tab<%= j%>"><%= chall[j]%></a></li>
<%}%>
</ul>

<% for(var j = 0; j < chall.length; j++) { %>
  <div class="row" id="tab<%= j%>">
<% for(var i = 0; i < chall.length; i++) { %>
        <div class="col s12 m6 l4">
          <div class="card sticky-action">
            <div class="card-image">
              <%if(j == 0) {%>
                <div class="ends-in">Ends in 01:59Hrs</div>
              <%}%>
              <img src="../images/<%= imgs[i + j]%>">
              <span class="card-title">Card Title</span>

            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">Register</a>
              <a href="#">Participate</a>
            </div>
          </div>
      </div>
<%} %>
    <%if(j === 2) {%>
      <div style="text-align: center;">
        <a href="/challenges/archived">show more</a>
      </div>
    <%}%>
  </div>
<%}%>
