<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <script src="https://use.fontawesome.com/150492bb97.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans:400,600" rel="stylesheet">
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
    <div id="toast-container">
      <div class="toast" id="toast">loading...</div>
    </div>
    <!--//opacity: 1; transform: translateY(-35px);-->
    <header>
      <nav class="navbar-fixed">

        <div class="nav-wrapper">
            <!--<div class="container"> -->
            <a href="#" data-activates="mobile-demo"
                class="button-collapse bars">
              <i class="fa fa-bars"></i>
            </a>

            <a href="/" class="brand-logo left" >
            Cozone.io
            </a>
            <ul id="nav-mobile " class="left hide-on-med-and-down" style="margin-left: 150px;">
              <li class=""><a class="n_o" href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
              <li class=""><a class="n_o" href="/challenges"><i class="fa fa-check"></i> Challenges</a></li>
              <li class=""><a class="n_o" href="/lab"><i class="fa fa-institution"></i> Labs</a></li>
              <li class=""><a class="n_o" href="/reports"><i class="fa fa-newspaper-o"></i> Reports</a></li>
            </ul>
            <div  class="right ico-list">
              <ul>
                <li><a data-type="Search" class="nmus"><i class="fa fa-search"></i></a>
                  <%- include('_nmus-large-su', {'_obj_': {
                    'search': true,
                    'seeAll': false,
                    'extraCls': '',
                    'link': ''
                 }}) %>
                </li>
                <li><a data-type="Notification" class="nmus"><i class="fa fa-bell"></i></a>
                  <%- include('_nmus-large-nm', {'_obj_': {
                    'seeAll': true,
                    'extraCls': '',
                    'link': '/notifications'
                 }}) %>
                </li>
                <li><a data-type="Message" class="nmus"><i class="fa fa-comments"></i></a>
                  <%- include('_nmus-large-nm', {'_obj_': {
                    'seeAll': true,
                    'extraCls': '',
                    'link': '/messages'
                 }}) %>
                </li>
                <li class="hide-on-med-and-down">
                  <a data-type="Ashirvad!" class="nmus">
                    <i class="fa fa-user-circle-o"></i>
                  </a>
                  <%- include('_nmus-large-su', {'_obj_': {
                    'search': false,
                    'seeAll': false,
                    'extraCls': 'user-options',
                    'link': ''
                 }}) %>
                </li>
              </ul>
            </div>
          </div>

         </nav>

          <ul id="mobile-demo" class="side-nav">
            <li>
              <div class="user-view">
                <div class="background side-nav-banner">
                  <!--<img src="../images/office1.jpg">-->
                </div>
                <a href="#!user"><img class="circle" src="/images/favicon.ico"></a>
                <a href="#!name"><span class="white-text name">James Gosling</span></a>
                <a href="#!email"><span class="white-text email">jamesgosling@czn.com</span></a>
              </div>
            </li>
            <li class=""><a href="/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            <li class=""><a href="/challenges"><i class="fa fa-check"></i>Challenges</a></li>
            <li class=""><a href="/lab"><i class="fa fa-institution"></i>Labs</a></li>
            <li class=""><a href="/reports"><i class="fa fa-newspaper-o"></i>Reports</a></li>
            <li class=""><a href="/profile"><i class="fa fa-user-o"></i>Profile</a></li>
            <li class=""><a href="#test4"><i class="fa fa-star"></i>Bookmarks</a></li>
            <li class=""><a href="#test4"><i class="fa fa-sign-out"></i>Logout</a></li>
          </ul>

        <!--</div>-->
      </nav>

    </header>
    <main>
      <div class="container" id="htm">
        <div id="page-nav"></div>
